@model BJJTrainer.Models.Drill

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technique)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technique.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technique.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technique.Position.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technique.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technique.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
    <object width="480" height="270" data="http://www.youtube.com/v/@Model.Video" type="application/x-shockwave-flash"><param name="src" value="http://www.youtube.com/v/Ahg6qcgoay4" /></object>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrillId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
