@model IEnumerable<BJJTrainer.Models.Drill>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technique.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var drill in Model) {
        <tr>
            <td>
                @Html.ActionLink(drill.Description, "Details", new { id = drill.DrillId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => drill.Technique.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => drill.Technique.Position.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => drill.Time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@drill.DrillId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@drill.DrillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
