@model BJJTrainer.Models.Routine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Routine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Drills:
        </dt>
        <dd>
            <ul>
                @foreach (var drill in Model.Drills)
                {
                    <li><a asp-area="" asp-controller="Drills" asp-action="Details" asp-route-id="@drill.TechniqueId">@drill.Description</a> | @drill.Technique.Name | Position: @drill.Technique.Position.Name | Seconds: @drill.Time </li>

                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoutineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
