@model BJJTrainer.Models.Routine

@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript">
    $(document).ready(function () {
        var id = @Model.RoutineId;
        $.ajax({
                type: 'GET',
                data: id,
                url: '@Url.Action("DisplayPositionTime")',
            success: function (result) {
                console.log(result);
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    
                    var positionArray =[];
                    
                    debugger;
                    $.each(JSON.parse(result), function(i, obj) {
                        positionArray.push([obj.position, obj.time]);
                    });
                    var data = google.visualization.arrayToDataTable(positionArray, true);
                   

                    var options = {
                        title: 'Positions'
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                    chart.draw(data, options);
                }
            }
        });
    });
</script>
<h2>Details</h2>

<div>
    <h1>Routine: @Html.DisplayFor(model => model.Name)</h1>
    <hr />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Technique
            </th>
            <th>
                Position
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drill in Model.Drills)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Drills" asp-action="Details" asp-route-id="@drill.TechniqueId">@drill.Description</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => drill.Technique.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => drill.Technique.Position.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => drill.Time)
                </td>                
            </tr>
        }
    </tbody>
</table>
<div><h3>Total Routine Time: @ViewBag.TotalTime</h3></div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoutineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div id="piechart" style="width: 900px; height: 500px;"></div>