@model IEnumerable<BJJTrainer.Models.Routine>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Total Time
            </th>
            <th>
                Techniques
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var routine in Model) {
        <tr>
            <td>
                @Html.ActionLink(routine.Name, "Details", new { id = routine.RoutineId })
            </td>
            <td>
               Placeholder
            </td>
            <td>
                @routine.Drills.Count
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@routine.RoutineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@routine.RoutineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@routine.RoutineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
